.App {
    text-align: center;
    margin-bottom: 100px;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
  }
  
  /* .card {
   width: 300px;
    height: 400px;
    background-color: white;
    margin-top: 100px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
margin-bottom: 25px;
  } */






  .drop-2{
    width: 250px;
    height: 350px;
    background-color: white;
    margin-top: 100px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
margin-bottom: 25px;
margin: 5px;
/* margin-left: 20px; */
/* margin-top: 30px; */
}
select{
    width: 400px;
    height: 45px;
    border: 3px solid #49A6A2;
    margin-right: 800px;
}
.drop-2 img{
    width: 150px;
    height: 200px;
    border-radius: 5px;
}
.drop-2 button{
    width: 200px;
    height: 35px;
    border-color: #49A6A2;
    background-color: #49A6A2;
    color: white;
    border-radius: 5px;
    font-size: 18px;
}
.drop-4{
    display: flex;
    flex-wrap: wrap;
}
.drop-3{
    width: 100px;
    height: 25px;
    background-color: #49A6A2;
    border-color: #49A6A2;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 185px;
    font-size: 15px;
}
  